* {
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

/* Page */
body {
    margin: 20px;
    background: #777;
}

/* Heading */
h1 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

/* Form layout */
form {
    width: 500px;
    margin: 0 auto;
    background: rgb(150, 150, 150);
    color: white;
    padding: 20px;
    border-radius: 5px;
    /* small, beginner-friendly */
}

/* Labels */
label {
    display: block;
    margin-top: 15px;
}

/* Inputs */
input,
textarea,
select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 6px;
}

textarea {
    height: 80px;
    padding: 16px;
}

/* Button */
button {
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    background: #444;
    color: white;
    border: none;
}